@page "/all-students-professor-view"
@using StudentSystem.Client.Services.AuthServices
@using StudentSystem.Client.Services.StudentServices
@using StudentSystem.Client.Services.UserServices
@using StudentSystem.Shared.Models

@inject IClientStudentService ClientStudentService
@inject IClientAuthService ClientAuthService
@inject IClientUserService ClientUserService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
<PageTitle>Enrollment</PageTitle>

<h3>Manage Enrollment</h3>
@if (professor != null && professor.EnrolledSubjects != null)
{
    foreach (var enrolledSubject in professor.EnrolledSubjects)
    {
        // Access properties of enrolledSubject safely
        <p>@enrolledSubject.Enrollment.Student</p>
    }
}
else
{
    <p>No data available</p>
}

    <p style="height:500px;"></p>

    @code
{

    public Professor professor = new Professor();


    protected override async Task OnInitializedAsync()
    {
        professor = await ClientUserService.GetSingleProfessor();

    }

    void AddSubject(int id)
    {
        NavigationManager.NavigateTo($"single-enrollment/{id}");
    }

    void ViewDetails(int id)
    {
        NavigationManager.NavigateTo($"/enrollment-details/{id}");
    }

}