@using StudentSystem.Client.Pages
@using StudentSystem.Client.Services.AuthServices
@inject AuthenticationStateProvider AuthStateProvider
@inject IClientAuthService ClientAuthService
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <LoginLogoutButton/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


